* {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
html {
    background: rgb(212,252,255);
    background: linear-gradient(160deg, rgba(212,252,255,1) 0%, rgba(28,116,134,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, .moto {
    font-family: 'Noto Serif Display', serif;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
h1 {
    color: rgb(241, 250, 233);
    font-size: 40px;
    margin: 0px 0px;
}
h1.title {
    padding-bottom: 30px;
}
.moto {
    font-size: 25px;
    font-style: italic;
    margin: 0px 0px;
}
.openning {
    font-size: 45px;
    font-style: italic;
    font-family: 'Old Standard TT', serif;
    margin-top:  5px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
table{
    margin: auto;
}
table.content {
    padding-top: 40px;
}
td.td-form {
    text-align: left;
}
.content {
    border-radius: 10px;
    width: 80%;
}
td {
    text-align: center; 
    vertical-align: middle; 
}
a {
    text-decoration: none;
}
a.a-nav {
    color: rgb(0, 0, 0);
}
.about-me {
    padding-left: 5%;
    padding-right: 5%;
}
.anounce-covid {
    margin-right: 20%;
    margin-left: 20%;
}
#nav-link {
    text-align: center;
}
#logo {
    box-shadow: none;
}
div.container-aboutme {
    border: #000 solid 1px;
}
img {
    border-radius: 20px;
    box-shadow:  0px 13px 25px rgba(0, 0, 0, 0.25);
    transition: transform 300ms ease;
}
img:hover {
    transform: scale(1.05);
}
button {
    margin: 25px 40px;
    width: 160px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-family: 'Noto Serif Display', serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }
   
    button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
   }

button:hover::before {
    width: 100%;
   }
   
   button:hover {
    color: black;
   }
   
   button:active:before {
    background: #b9b9b9;
   }

